<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
</head>
<body>
	<div layout:fragment="content">
		<!-- Page Content -->
		<h1 class="display-1">Something went wrong</h1>
		<p class="lead">Our Engineers are on it. You can
		  <a href="javascript:history.back()">go back</a>
		  to the previous page, or
		  <a href="/">return home</a>.</p>
	</div>
</body>

</html>
